venv/
blog.db
llm/__pycache__/assistant.cpython-310.pyc
llm/__pycache__/assistant.cpython-310.pyc
llm/__pycache__/assistant.cpython-310.pyc
llm/__pycache__/assistant.cpython-310.pyc
blog.db
blog.db-journal
